*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #06283D;
}

.container{
    position: relative;
    width: 400px;
    height: 220px;
    background: #fff;
    padding: 28px 32px;
    overflow: hidden;
    border-radius: 18px;
    font-family: 'Roboto', sans-serif;
    transition: 0.6s ease-out;
}

.search-box{
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50px;
    padding: 10px;

}

.date{
    width: 50%;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    margin: auto;
}

.date p{
    padding: 5px;
}

.date button,button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    color:grey;
    background: none;
    transition: 0.4s ease;
}
.date button:hover,button:hover{
    background: none;
    color:grey;
}

.other-info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    align-self: center;
    text-align: center;
}

.other-info p{
    width: 100%;
    font-size: 15px;
    text-align: center;
    color: #06283D;
    margin-top: 25px;
}

.other-info1 form,label{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    align-self: center;
    text-align: center;
    margin-left: 2px;
}

.search-box input{
    color: #06283D;
    width: 80%;
    font-size: 24px;
    font-weight: 500;
    padding-left: 32px;
}

.search-box input::placeholder{
    font-size: 20px;
    font-weight: 500;
    color: #06283D;
    text-transform: capitalize;
}

.search-box button,button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: #06283D;
    background: #dff6ff;
    border-radius: 50%;
    font-size: 22px;
    transition: 0.4s ease;
}

.search-box button:hover,button:hover{
    color: #fff;
    background: #06283D;
}

.search-box i{
    position: absolute;
    color: #06283D;
    font-size: 28px;
}

.weather-box{
    text-align: center;
    align-items: center;
    align-self: center;
    display: block;
    margin-top: 20px;

}

.weather-box .temperature{
    width: 100%;
    position: relative;
    color: #06283D;
    font-size: 3rem;
    font-weight: 800;
    margin-top: 5px;
    margin-left: -16px;
}

.weather-box .temperature span{
    position: absolute;
    margin-left: 4px;
    font-size: 1.5rem;
}

.weather-box .description{
    color: #06283D;
    width: 100%;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

.weather-details1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.weather-details2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

 #wind_dir, #Pres{
    display: flex;
    width: 50%;
    height: 50px;
    margin-left: 20px;
}

 #wind, #hum{
    display: flex;
    width: 50%;
    height: 50px;
    margin-left: 20px;
}

.weather-details1 i{
    color: #06283D;
    font-size: 26px;
    margin-right: 10px;
    margin-top: 6px;
}

.weather-details1 span{
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
}

.weather-details1 p{
    color: #06283D;
    font-size: 14px;
    font-weight: 500;
}

.weather-details2 i{
    color: #06283D;
    font-size: 26px;
    margin-right: 10px;
    margin-top: 6px;
}

.weather-details2 span{
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
}

.weather-details2 p{
    color: #06283D;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}

.not-found{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    scale: 0;
    opacity: 0;
    display: none;
}

.not-found img{
    width: 100%;
}

.not-found p{
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}

.weather-box, .weather-details1, .weather-details2{
    scale: 0;
    opacity: 0;
}

.graph{
    width: 100%;
    height: 40px;
    margin: auto;
    color: #06283D;
    margin-top: 20px;
}

.graph p{
    color: #06283D;
    width: 80%;
    font-size: 24px;
    font-weight: 500;
    padding-left: 20px;
    color:#fff;
}

.graph button{
    width: 100%;
    height: 30px;
    border-radius: 30px;
    background-color:#04694d;
    color:#fff;
    border: "black";
    
}



.graph button:hover{
    background-color:#fff;
    color:#04694d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.canvas{
    position: relative;
    background: #fff;
    width: 400px;
    height: 220px;
    padding: 28px 32px;
    margin: auto;
    border-radius: 18px;
    font-family: 'Roboto', sans-serif;
    transition: 1s ease-out;
    display: none;
}

.canvas .date{
    margin: auto;
    padding: 10px;
    margin-bottom: 40px;
}

#chart{
    margin: auto; 
    height: 80%;
    margin-top: auto;
}

.fadeIn{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

.choice button{
    cursor: pointer;
    width: 40px;
    height: 40px;
    color: #06283D;
    background: #dff6ff;
    border-radius: 50%;
    font-size: 15px;
    transition: 0.4s ease;
    padding-top: 0px;
    margin: 0px;
}

.choice button:hover{
    color: #fff;
    background: #06283D;
}


@keyframes fadeIn{
    to {
        scale: 1;
        opacity: 1;
    }
}
